## Observations and Insights

# Capomulin and Ramicane seem to be reasonably successful drugs. On both of these drugs, tumor volume trends down over time, and variance is low suggesting repeatable results.

# Infubinol and Ceftamin are unsuccessful drugs. On both of these drugs, tumor volume trends up over time.

# The mice have equal genders, and have been divided fairly equally amongst the different treatment regimes 

# There is a correlation between the size of the mouse and the size of the tumor

In [40]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

# Combine the data into a single dataset
combined_df = pd.merge(mouse_metadata, study_results, on='Mouse ID')

# Display the data table for preview
combined_df

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [41]:
# Checking the number of mice.
NumOfMice = combined_df['Mouse ID'].nunique()
print(f'Number of mice in study is {NumOfMice}')

Number of mice in study is 249

In [42]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 

duplicates_df = combined_df[combined_df.duplicated(subset =['Mouse ID','Timepoint'], keep = False)]

# df[df.duplicated(['ID'], keep=False)]

duplicates_df

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
908,g989,Propriva,Female,21,26,0,45.000000,0
909,g989,Propriva,Female,21,26,0,45.000000,0
910,g989,Propriva,Female,21,26,5,48.786801,0
911,g989,Propriva,Female,21,26,5,47.570392,0
912,g989,Propriva,Female,21,26,10,51.745156,0
913,g989,Propriva,Female,21,26,10,49.880528,0
914,g989,Propriva,Female,21,26,15,51.325852,1
915,g989,Propriva,Female,21,26,15,53.442020,0
916,g989,Propriva,Female,21,26,20,55.326122,1
917,g989,Propriva,Female,21,26,20,54.657650,1

In [43]:
# Optional: Get all the data for the duplicate mouse ID. 

# See Above table

In [44]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.

cleaned_df = combined_df.drop_duplicates(subset =['Mouse ID','Timepoint'], keep = 'first')
cleaned_df

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [45]:
# Checking the number of mice in the clean DataFrame.
NumOfCleanedDFMice = cleaned_df['Mouse ID'].nunique()
print(f'Number of mice in cleaned dataframe is {NumOfCleanedDFMice}')

Number of mice in cleaned dataframe is 249

## Summary Statistics

In [46]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# This method is the most straighforward, creating multiple series and putting them all together at the end.

SummaryStats_df = pd.DataFrame()

GroupBy_df = cleaned_df.groupby(['Drug Regimen'])

TumorMean = GroupBy_df['Tumor Volume (mm3)'].mean()
TumorMedian = GroupBy_df['Tumor Volume (mm3)'].median()
TumorVariance = GroupBy_df['Tumor Volume (mm3)'].var()
TumorStdDev = GroupBy_df['Tumor Volume (mm3)'].std()
TumorSEM = GroupBy_df['Tumor Volume (mm3)'].sem()

SummaryStats_df['Average Tumor Volume'] = TumorMean
SummaryStats_df['Median Tumor Volume'] = TumorMedian
SummaryStats_df['Tumor Volume Variance'] = TumorVariance
SummaryStats_df['Tumor Volume Std Dev'] = TumorStdDev
SummaryStats_df['Tumor Volume SEM'] = TumorSEM

SummaryStats_df

,Average Tumor Volume,Median Tumor Volume,Tumor Volume Variance,Tumor Volume Std Dev,Tumor Volume SEM
Drug Regimen,,,,,
Capomulin,40.675741,41.557809,24.947764,4.994774,0.329346
Ceftamin,52.591172,51.776157,39.290177,6.268188,0.469821
Infubinol,52.884795,51.820584,43.128684,6.567243,0.492236
Ketapril,55.235638,53.698743,68.553577,8.279709,0.603860
Naftisol,54.331565,52.509285,66.173479,8.134708,0.596466
Placebo,54.033581,52.288934,61.168083,7.821003,0.581331
Propriva,52.393463,50.909965,43.138803,6.568014,0.525862
Ramicane,40.216745,40.673236,23.486704,4.846308,0.320955
Stelasyn,54.233149,52.431737,59.450562,7.710419,0.573111
Zoniferol,53.236507,51.818479,48.533355,6.966589,0.516398

In [ ]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# This method produces everything in a single groupby function

SummaryStats_2_df = cleaned_df[['Tumor Volume (mm3)','Drug Regimen']].groupby(['Drug Regimen']).agg(['mean','median','var','std','sem'])
SummaryStats_2_df.columns = [
    'Average Tumor Volume',
    'Median Tumor Volume',
    'Tumor Volume Variance',
    'Tumor Volume Std Dev',
    'Tumor Volume SEM'
]

# SummaryStats_2_df = GroupBy_df['Tumor Volume (mm3)'].agg(['mean','median'])
SummaryStats_2_df

# df.agg(x=('A', max), y=('B', 'min'), z=('C', np.mean))

## Bar and Pie Charts

In [ ]:
# Generate a bar plot showing the total number of mice for each treatment throughout the course of the study using pandas. 
GroupByDrug_df = cleaned_df.groupby(['Drug Regimen'])

NumOfMiceByDrug = GroupByDrug_df['Mouse ID'].nunique()

PandasGraph1 = NumOfMiceByDrug.plot(kind='bar', title = 'Mice Used Per Drug Regimen', rot=60)

In [ ]:
# Generate a bar plot showing the total number of mice for each treatment throughout the course of the study using pyplot.

PyPlotGraph1 = plt.bar(NumOfMiceByDrug.index, NumOfMiceByDrug.tolist(), width=0.5)
plt.xticks(rotation = 60)
plt.ylim(20,26)
plt.title('Mice Used Per Drug Regimen')
plt.xlabel('Drug Regimen')
plt.ylabel('Number of Mice')
plt.show()

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

Gender_df = cleaned_df.groupby(['Sex'])
GenderBreakdown = Gender_df['Mouse ID'].nunique()
PandasGraph2 = GenderBreakdown.plot.pie(title='Distribution of Mice Gender', label='', startangle = 90)

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

Gender_df = cleaned_df.groupby(['Sex'])
GenderBreakdown = Gender_df['Mouse ID'].nunique()
graph_labels = GenderBreakdown.index

PyPlotGraph2 = plt.pie(GenderBreakdown, startangle = 90, labels=graph_labels)
plt.title('Distribution of Mice Gender')


plt.show()

## Quartiles, Outliers and Boxplots

In [ ]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse
# GroupBy Timepoint, extract a series of Max Timepoints per mouse, convert to Dataframe 

GroupBy_Mouse_df = cleaned_df.groupby('Mouse ID')
MaxMouseTimepoint = GroupBy_Mouse_df['Timepoint'].max()
MaxMouseTimepoint_df = pd.DataFrame(MaxMouseTimepoint)


# Merge this group df with the original dataframe to get the max tumor volume at the last timepoint
# Merge on a double index of Mouse ID and Timepoint, Left 

MaxTumorVolume_df = pd.merge(MaxMouseTimepoint_df, cleaned_df, left_on = ['Mouse ID', 'Timepoint'], right_on=['Mouse ID', 'Timepoint'], how='left')

DrugList = ["Capomulin", "Ramicane", "Infubinol", "Ceftamin"]
boolean_series = MaxTumorVolume_df['Drug Regimen'].isin(DrugList)
FinalTumorVolume_df = MaxTumorVolume_df[boolean_series]

FinalTumorVolume_df.head(50)

In [ ]:
# # Put treatments into a list for for loop (and later for plot labels)
# DrugList = ["Capomulin", "Ramicane", "Infubinol", "Ceftamin"]

# # Create empty list to fill with tumor vol data (for plotting)


# # Calculate the IQR and quantitatively determine if there are any potential outliers. 

# quartiles = FinalTumorVolume_df['Tumor Volume (mm3)'].quantile([.25,.5,.75])
# LQ = quartiles[0.25]
# MED = quartiles[.5]
# UQ = quartiles[.75]

# IQR = UQ - LQ

# LB = LQ - 1.5*IQR 
# UB = UQ 

# print(f"The lower quartile of Tumor Volume across the four drug regimens is: {LQ}")
# print(f"The upper quartile of Tumor Volume across the four drug regimens is: {UQ}")
# print(f"The interquartile range of Tumor Volume across the four drug regimens is: {MED}")
# print(f"The the median of Tumor Volume across the four drug regimens is: {quartiles[0.5]} ")

# lower_bound = LQ - (1.5*IQR)
# upper_bound = UQ + (1.5*IQR)
# print(f"Values below {lower_bound} could be outliers.")
# print(f"Values above {upper_bound} could be outliers.")

In [ ]:
# Create Dataframe of mice tumor volumes under the Capomulin, Ramicane, Infubinol and Ceftamin regimes 
DrugList = ["Capomulin", "Ramicane", "Infubinol", "Ceftamin"]


FourDrugTumorSize_df = pd.DataFrame()
count = 0

FourDrugTumorSize_df = FourDrugTumorSize_df.reindex(columns = DrugList)    


for drug in DrugList:
    drug_series = FinalTumorVolume_df.loc[FinalTumorVolume_df['Drug Regimen'] == drug, ['Tumor Volume (mm3)']]
    tumorlist = drug_series['Tumor Volume (mm3)'].tolist()
    FourDrugTumorSize_df.iloc[:,count] = tumorlist
    count = count + 1

FourDrugTumorSize_df

In [ ]:
# Calculate the IQR and quantitatively determine if there are any potential outliers. 

FourDrugQuantile_df = pd.DataFrame(index = DrugList)
ColList = ['Lower Quadrant','Med Quadrant','Upper Quadrant','IQR','Lower Bound','Upper Bound']

FourDrugQuantile_df = FourDrugQuantile_df.reindex(columns = ColList)
count = 0

for drug, result in FourDrugTumorSize_df.items():
    quartiles = result.quantile([.25,.5,.75])
    LQ = quartiles[0.25]
    MED = quartiles[.5]
    UQ = quartiles[.75]
    IQR = UQ - LQ
    LB = LQ - (1.5*IQR) 
    UB = UQ 
    FourDrugQuantile_df.loc[drug,'Lower Quadrant'] = LQ
    FourDrugQuantile_df.loc[drug,'Med Quadrant'] = MED
    FourDrugQuantile_df.loc[drug,'Upper Quadrant'] = UQ
    FourDrugQuantile_df.loc[drug,'IQR'] = IQR
    FourDrugQuantile_df.loc[drug,'Lower Bound'] = LB
    FourDrugQuantile_df.loc[drug,'Upper Bound'] = UB
    
FourDrugQuantile_df

In [ ]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

ax = FourDrugTumorSize_df.plot(kind='box', title='Range of Tumor Volumes by Drug Regimen')
ax.set_ylabel('Size of Tumor')
ax.set_xlabel('Drug Type')

## Line and Scatter Plots

In [ ]:
# Generate a line plot of time point versus tumor volume for a mouse treated with Capomulin

Capomulin_df = cleaned_df.loc[cleaned_df['Drug Regimen'] == 'Capomulin']
Capomulin_df
# obj = Capomulin_df.groupby(['Mouse ID','Timepoint'])
# obj.count()

In [ ]:
plt.plot(Capomulin_df['Timepoint'],Capomulin_df['Tumor Volume (mm3)'])
plt.title('Progression of Mice Tumors on Capomulin')
plt.ylabel('Size of Tumor')
plt.xlabel('Number of Days Elapsed')
plt.show()

In [ ]:
# Generate a scatter plot of mouse weight versus average tumor volume for the Capomulin regimen

meanweight_df = Capomulin_df.groupby(['Mouse ID']).mean()


plt.scatter(meanweight_df['Weight (g)'],meanweight_df['Tumor Volume (mm3)'])
plt.xlabel('Mouse Weight')
plt.ylabel('Size of Tumor')
plt.title('Comparison of Average Mouse Weight vs Tumor Size')
plt.show()

## Correlation and Regression

In [ ]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen